*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

:root {
  /* GRAPEFRUIT */
  --grapefruit-1: #f76d82;
  --grapefruit-2: #ec5564;
  --grapefruit-3: #d94452;
  
  /* SUNFLOWER */
  --sunflowe-1: #fcd277;
  --sunflower-2: #fecd57;
  --sunflower-3: #f5ba45;
  
  /* GRASS */
  --grass-1: #84e080;
  --grass-2: #9ed36a;
  --grass-3: #8ac054;
  
  /* MINT */
  --mint-1: #62ddbd;
  --mint-2: #46cead;
  --mint-3: #35bb98;
  
  /* BLUE JEANS */
  --blue-jeans-1: #73b0f4;
  --blue-jeans-2: #5d9cea;
  --blue-jeans-3: #48b9da;
  
  /* LAVENDER */
  --lavender-blue-1: #b3a5ef;
  --lavender-blue-2: #ac92ea;
  --lavender-blue-3: #967ada;
  
  --lavender-pink-1: #f299ce;
  --lavender-pink-2: #eb87bf;
  --lavender-pink-3: #d670ac;
  
  /* SKIN TONE */
  --skin-tone-1: #f4d085;
  --skin-tone-2: #f0c8a5;
  --skin-tone-3: #e4b693;
  
  /* LIGHT GRAY */
  --light-gray-1: #f4f6f9;
  --light-gray-2: #e5ebec;
  --light-gray-3: #cbc0c8;
  
  /* DARK GRAY */
  --dark-gray-1: #a9b1bc;
  --dark-gray-2: #646c77;
  --dark-gray-3: #424953;
  
  /* DESKTOP */
  /* FONT SIZE */
  --heading-1: 3.438rem;
  --heading-2: 
  
}

.name {
  font-size: var(--heading-1);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", serif;
}

a {
  color: black;
  text-decoration: none;
}

input,
select {
  outline: none;
}

button,
input,
select {
  border: none;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  background-color: var(--light-gray-2);
}

li {
  list-style: none;
}

option {
  cursor: pointer;
}