*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
}

:root {
  --cyan: #00b8e6;
  --magenta: #fa1671;
  --yellow: #ffce1c;
  --black: #000000;
  --white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", serif;
}

a {
  color: black;
  text-decoration: none;
}

input,
select {
  outline: none;
}

button,
input,
select {
  border: 1px solid gray;
}

button,
select {
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
}

option {
  cursor: pointer;
}
