#price {
  background: linear-gradient(45deg, var(--cyan), var(--magenta));
  padding: 50px 20px;
}

.price-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(196, 196, 196);
  margin-bottom: 50px;
  padding-bottom: 20px;
  color: var(--white);
}

.price-title h1 {
  font-size: calc(16px * 3);
  flex: 1;
  font-weight: 700;
}

.price-title p {
  width: 30%;
  text-align: end;
  font-weight: 600;
}

.container {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 50px;
  color: white;
}

.price-calculation #list-services {
  appearance: unset;
}

.price-calculation,
.display-total-price {
  border: 1px solid rgba(255, 255, 255, 0.568);
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(240, 240, 240, 0.274);
}

.price-calculation {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 20px 0;
  align-items: stretch;
}

.list-menu button,
.price-total input,
.price-calculation-nav select {
  background-color: white;
  padding: 10px;
  text-transform: capitalize;
}

.display-total-price {
  flex-shrink: 0;
  text-align: center;
}
