body {
  font-family: "Work Sans", sans-serif;
  background-color: rgba(245, 245, 245, 100%);
}

section {
  padding: 0 20px;
}

#home {
  padding: 0;
}

#home .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(245, 245, 245, 100%)), url(/assets/images/banner/images-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

.hero-content,
.hero-banner {
  margin: 0 20px;
  padding: 20px;
}

.hero-content {
  height: fit-content;
  width: calc(100% / 2);
  flex-shrink: 0;
  background-color: rgba(189, 189, 189, 0.527);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.hero-title-content h1 {
  font-size: calc(16px * 3);
  line-height: 1;
  font-weight: 800;
}

.hero-title-content h1 span:first-child {
  color: var(--yellow);
  font-size: inherit;
  font-weight: inherit;
}

.hero-title-content h1 span:last-child {
  color: var(--magenta);
  font-size: inherit;
  font-weight: inherit;
}

.hero-title-content .btn-act {
  background-color: var(--cyan);
  width: 120px;
  height: 40px;
  border: 1px solid var(--white);
  margin-top: 20px;
  border-radius: 20px;
  color: var(--white);
  font-weight: 500;
  transition: 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.btn-act .icon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  margin-left: 5px;
}

.btn-act svg g {
  fill: var(--white);
}
/* animation button hover */
.btn-act:hover {
  background-color: var(--magenta);
}

.btn-act:hover .icon {
  transform: translateX(50px);
}

.hero-banner {
  width: 100%;
  height: 350px;
  background-color: rgba(189, 189, 189, 0.527);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner .hero-list-banner {
  height: 300px;
  overflow: hidden;
  width: 550px;
  border-radius: 15px;
  position: relative;
}

.banner {
  --run: 10s;
  animation: run var(--run) linear infinite;
  position: absolute;
  width: 100%;
  top: 0;
}

.hero-list-banner .banner:nth-child(1) {
  animation-delay: calc((var(--run) / 3) * (1 - 1));
}
.hero-list-banner .banner:nth-child(2) {
  animation-delay: calc((var(--run) / 3) * (2 - 1));
}
.hero-list-banner .banner:nth-child(3) {
  animation-delay: calc((var(--run) / 3) * (3 - 1));
}

@keyframes run {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(calc(-300px * 3));
  }
}

.banner img {
  width: 100%;
}
