.navbar,
.logo a,
.list-menu {
  display: flex;
  align-items: center;
}

.navbar {
  padding: 10px 50px;
  box-shadow: 0 0 20px rgba(129, 129, 129, 70%);
  background-color: rgba(255, 255, 255, 0.753);
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);
  z-index: 999;
}

.logo {
  flex-shrink: 1;
  width: 100%;
}

.logo a span {
  font-size: 24px;
  font-family: "Nunito", serif;
  font-weight: 800;
}

.logo a .first-name {
  color: var(--magenta);
}

.logo a .last-name {
  color: var(--cyan);
}

.menu-nav {
  flex-shrink: 0;
}

.menu-nav .list-menu {
  gap: 24px;
}

.list-menu a {
  transition: color 300ms;
  font-weight: 500;
}

/* navbar links animation */
.list-menu a:hover {
  color: var(--cyan);
}
