.line-up {
  transform: translate(4px, -3px) rotate(45deg);
  transform-origin: left;
}

.line-hidden {
  opacity: 0;
  transform: scale(0);
}

.line-down {
  transform: translate(4px, 3px) rotate(-45deg);
  transform-origin: left;
}

.clicked,
span[class*="line"] {
  transition: all 0.3s ease-in-out;
}

.clicked {
  background-color: rgb(230, 230, 230);
}
